<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/fonts/fonts.css">
    <link rel="stylesheet" href="../../css/castom.css">
    <title>Document</title>
</head>
<body>
  <div class="mx-5 md:mx-20 pt-20 flex gap-5"><!--Открывающий тест див-->
    <article class="p-[0_26px_25px_27px] border-[2px] border-black flex flex-col w-full md:max-w-[366px] h-[284px]">
        <div class="h-full flex items-center max-h-[174px]">
            <a class="max-w-[120px] max-h-[94px] block hover:opacity-70 transition-opacity duration-300" href="#">
                <img class="w-full h-full object-contain object-center" src="../media/category/programming.svg" alt="Design / Branding & Creativity">
            </a>
        </div>
        <div class="border-t-[4px] border-black pt-[21px] mb-auto">
            <a class="text-2xl leading-7 introbold hover:opacity-70 transition-opacity duration-300" href="#">
                Programming & Development
            </a>
        </div>
    </article>
    <article class="p-[0_26px_25px_27px] border-[2px] border-black flex flex-col w-full md:max-w-[366px] h-[284px]">
        <div class="h-full flex items-center max-h-[174px]">
            <a class="max-w-[120px] max-h-[94px] block hover:opacity-70 transition-opacity duration-300" href="#">
                <img class="w-full h-full object-contain object-center" src="../media/category/design.svg" alt="Design / Branding & Creativity">
            </a>
        </div>
        <div class="border-t-[4px] border-black pt-[21px] mb-auto">
            <a class="text-2xl leading-7 introbold hover:opacity-70 transition-opacity duration-300" href="#">
                Design / Branding & Creativity
            </a>
        </div>
    </article>
    <article class="p-[0_26px_25px_27px] border-[2px] border-black flex flex-col w-full md:max-w-[366px] h-[284px]">
        <div class="h-full flex items-center max-h-[174px]">
            <a class="max-w-[120px] max-h-[94px] block hover:opacity-70 transition-opacity duration-300" href="#">
                <img class="w-full h-full object-contain object-center" src="../media/category/seo_smm.svg" alt="Design / Branding & Creativity">
            </a>
        </div>
        <div class="border-t-[4px] border-black pt-[21px] mb-auto">
            <a class="text-2xl leading-7 introbold hover:opacity-70 transition-opacity duration-300" href="#">
                SEO, SMM, IT Marketing
            </a>
        </div>
    </article>
  </div> <!-- Закрвающий тест див -->
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>