<div class="container mx-auto">
  <div class="decor-line max-w-[254px] pb-[19px] mb-[30px] md:mb-[71px] relative">
    <p class="text-[22px] introbold">Choose a task category:</p>
  </div>
  <div class="flex flex-col md:flex-row justify-between gap-y-5">
    <div class="flex flex-col md:flex-row gap-5 w-full">
      <!-- Подгружаем компонент карточки категории -->
      <article w3-include-html="../../components/category-link.html" class="p-[0_26px_25px_27px] border-[2px] border-black grid grid-rows-[176px_1fr] w-full md:max-w-[366px]"></article>
      <!-- компонент подключил -->
      <article class="p-[0_26px_25px_27px] border-[2px] border-black grid grid-rows-[176px_1fr] w-full md:max-w-[366px]">
        <div class="flex items-center">
          <a class="max-w-[120px] max-h-[94px] block hover:opacity-70 transition-opacity duration-300" href="#">
            <img class="w-full h-full object-contain object-center" src="../../media/category/design.svg" alt="Design / Branding & Creativity" />
          </a>
        </div>
        <div class="border-t-[4px] border-black pt-[21px] mb-auto">
          <a class="text-2xl leading-7 introbold hover:opacity-70 transition-opacity duration-300" href="#">Design / Branding & Creativity </a>
        </div>
      </article>
      <article class="p-[0_26px_25px_27px] border-[2px] border-black grid grid-rows-[176px_1fr] w-full md:max-w-[366px]">
        <div class="flex items-center">
          <a class="max-w-[120px] max-h-[94px] block hover:opacity-70 transition-opacity duration-300" href="#">
            <img class="w-full h-full object-contain object-center" src="../../media/category/seo_smm.svg" alt="Design / Branding & Creativity" />
          </a>
        </div>
        <div class="border-t-[4px] border-black pt-[21px] mb-auto">
          <a class="text-2xl leading-7 introbold hover:opacity-70 transition-opacity duration-300" href="#">SEO, SMM, IT Marketing</a>
        </div>
      </article> 
      <!-- <article class="p-[0_26px_25px_27px] border-[2px] border-black grid grid-rows-[176px_1fr] w-full md:max-w-[366px]">
        <div class="flex items-center">
          <a class="max-w-[120px] max-h-[94px] block hover:opacity-70 transition-opacity duration-300" href="#">
            <img class="w-full h-full object-contain object-center" src="../../media/category/copyrights.svg" alt="Copyrights, Translation" />
          </a>
        </div>
        <div class="border-t-[4px] border-black pt-[21px] mb-auto">
          <a class="text-2xl leading-7 introbold hover:opacity-70 transition-opacity duration-300" href="#">Copyrights, Translation</a>
        </div>
      </article>
      <article class="p-[0_26px_25px_27px] border-[2px] border-black grid grid-rows-[176px_1fr] w-full md:max-w-[366px]">
        <div class="flex items-center">
          <a class="max-w-[120px] max-h-[94px] block hover:opacity-70 transition-opacity duration-300" href="#">
            <img class="w-full h-full object-contain object-center" src="../../media/category/it_administration.svg" alt="IT administration / DEVOPS" />
          </a>
        </div>
        <div class="border-t-[4px] border-black pt-[21px] mb-auto">
          <a class="text-2xl leading-7 introbold hover:opacity-70 transition-opacity duration-300" href="#">IT administration / DEVOPS</a>
        </div>
      </article>
      <article class="p-[0_26px_25px_27px] border-[2px] border-black grid grid-rows-[176px_1fr] w-full md:max-w-[366px]">
        <div class="flex items-center">
          <a class="max-w-[120px] max-h-[94px] block hover:opacity-70 transition-opacity duration-300" href="#">
            <img class="w-full h-full object-contain object-center" src="../../media/category/blockchain.svg" alt="Design / Branding & Creativity" />
          </a>
        </div>
        <div class="border-t-[4px] border-black pt-[21px] mb-auto">
          <a class="text-2xl leading-7 introbold hover:opacity-70 transition-opacity duration-300" href="#">Blockchain & Contracts / AI</a>
        </div>
      </article> -->
      <!-- end -->
    </div>

    <div class="flex flex-col ml-[21px] gap-y-[15px]">
      <button class="btn-slidder w-[51px] h-[24px] bg-black rounded-[40px]">
        <img class="ml-[11px]" src="../../media/icons/arrow-btn.svg" alt="arrow" />
      </button>
      <span class="text-2xl font-extralight leading-7 pl-2.5 pb-[9px] border-b-[2px] border-black max-w-[50px]"> +3 </span>
    </div>
  </div>
</div>
