<div class="w-full bg-white p-5 md:p-[38px_35px_47px_34px] border-[2px] border-black">
    <div class="grid md:grid-rows-[70px_187px] md:grid-cols-1">
      <div class="pb-5 md:pb-[36px]">
        <a class="hover:opacity-70 transition-opacity duration-300" href="#">
            <img src="../../media/icons/oocl.svg" alt="" class="h-full">
        </a>
      </div>
      <div class="w-full border-t-[2px] border-black border-opacity-45 pt-[15px] md:pt-[24px] relative decor-line after:w-[81px] pb-[31px]">
        <p class="text-sm md:text-[15px] leading-[26px] line-clamp-5 tracking-[-0.48px]">
          Our company is looking for experienced developers who can create an intuitive and effective mobile application for food delivery. The application must have the functions of ordering, payment and
          tracking of delivery, as well as integration with external accounting and inventory systems. Requires experience with mobile platforms such as Android and iOS...
        </p>
      </div>
    </div>
    
    <div class="flex flex-col gap-x-10 gap-y-6  md:flex-row mt-[30px]">
      <div class="mt-2">
        <p class="text-sm leading-5 font-bold">Latest task:</p>
      </div>
      <div class="">
        <div class="flex w-full items-start pb-5 md:h-[95px] md:pb-[31px]">
          <a class="relative" href="#">
            <span class="text-xl md:text-2xl text-[#141133] font-bold max-w-[407px] introbold md:leading-9 tracking-[-0.3px] line-clamp-2 hover:opacity-50 transition-opacity duration-300"> Share Extension Development for iOS and Android </span>
          </a>
        </div>
        <div w3-include-html="../../utils/list-tags.html" class="w-full border-t-[2px] border-black border-opacity-45 pt-[24px]"></div>
      </div>
    </div>
  </div>


  <script>
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /* Loop through a collection of all HTML elements: */
      z = document.getElementsByTagName('*');
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute('w3-include-html');
        if (file) {
          /* Make an HTTP request using the attribute value as the file name: */
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
              if (this.status == 200) {
                elmnt.innerHTML = this.responseText;
              }
              if (this.status == 404) {
                elmnt.innerHTML = 'Page not found.';
              }
              /* Remove the attribute, and call this function once more: */
              elmnt.removeAttribute('w3-include-html');
              includeHTML();
            }
          };
          xhttp.open('GET', file, true);
          xhttp.send();
          /* Exit the function: */
          return;
        }
      }
    }
  </script>
  <script>
    includeHTML();
  </script>