<!-- <div class="w-full bg-white p-5 md:p-[38px_35px_47px_34px] border-[2px] border-black flex flex-col"> -->
    <div class="grid md:grid-rows-[70px_187px] md:grid-cols-1">
      <div class="pb-5 md:pb-[36px]">
        <a class="hover:opacity-70 transition-opacity duration-300" href="#">
            <img src="../../media/icons/oocl.svg" alt="" class="h-full">
        </a>
      </div>
      <div class="w-full border-t-[1px] border-black border-opacity-45 pt-[15px] md:pt-[26px] relative decor-line after:w-[81px] pb-[31px]">
        <p class="text-sm md:text-[15px] leading-[26px] line-clamp-5 tracking-[-0.48px]">
          Our company is looking for experienced developers who can create an intuitive and effective mobile application for food delivery. The application must have the functions of ordering, payment and
          tracking of delivery, as well as integration with external accounting and inventory systems. Requires experience with mobile platforms such as Android and iOS...
        </p>
      </div>
    </div>
    
    <div class="flex flex-col gap-x-10 gap-y-6  md:flex-row mt-[32px]">
      <div class="mt-2 flex-none">
        <p class="text-sm leading-5 font-bold">Latest task:</p>
      </div>
      <div class="grid md:grid-rows-[94px_1fr]">
        <div class="flex w-full items-start">
          <a class="relative" href="#">
            <span class="text-xl md:text-2xl text-[#141133] font-bold max-w-[407px] introbold md:leading-9 tracking-[-0.3px] line-clamp-2 hover:opacity-50 transition-opacity duration-300"> Development of an innovative web application for business process ... </span>
          </a>
        </div>
        <div class="flex flex-col gap-y-[19px] mb-2.5 w-full border-t-[1px] border-black border-opacity-45 pt-[24px]">
            <ul class="flex flex-wrap md:flex-row text-black gap-3 md:gap-[28px]">
              <li class="text-sm font-normal leading-5">12.04.2023</li>
              <li class="text-sm font-extrabold leading-5">$1200</li>
              <li class="text-sm font-normal leading-5">12.10.2023 deadline</li>
            </ul>
            <ul w3-include-html="../../utils/tags.html" class="flex flex-wrap text-xs text-white font-montserrat leading-5 gap-3"></ul>
        </div>
      </div>
    </div>
  <!-- </div> -->


