<div class="flex items-end">
    <div class="flex flex-col md:flex-row gap-6 md:gap-0 mt-1">
      <div class="flex items-center">
        <p class="text-[15px] text-black font-bold mr-[15px]">Filter:</p>
        <div class="flex items-center w-[210px] min-h-11 pl-2 md:pl-4 pr-2.5 bg-white border-[1px] border-[#959595] border-input rounded-[3px] text-sm font-normal leading-5 cursor-pointer hover-border select relative whitespace-nowrap overflow-hidden md:mr-[45px] md:pr-[25px] md:min-w-[257px]">
          <span class="truncate pr-[5px] md:pr-0">Design / Branding &amp; Creativity</span>
        </div>
      </div>
      <div class="flex items-center">
        <p class="text-[15px] text-black font-bold mr-3.5">Sort:</p>
        <div class="flex items-center min-w-[180px] min-h-11 pl-4 pr-[25px] bg-white border-[1px] border-[#959595] border-input rounded-[3px] text-sm font-normal leading-5 cursor-pointer hover-border select relative whitespace-nowrap overflow-hidden">
          Data created
          <svg class="mt-[-4px] ml-2.5" width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 12L1.64645 11.6464L0.792893 12.5H2V12ZM13 12V12.5H13.5V12H13ZM13.3536 0.646447C13.1583 0.451184 12.8417 0.451184 12.6464 0.646447L9.46447 3.82843C9.2692 4.02369 9.2692 4.34027 9.46447 4.53553C9.65973 4.7308 9.97631 4.7308 10.1716 4.53553L13 1.70711L15.8284 4.53553C16.0237 4.7308 16.3403 4.7308 16.5355 4.53553C16.7308 4.34027 16.7308 4.02369 16.5355 3.82843L13.3536 0.646447ZM2 12.5H13V11.5H2V12.5ZM13.5 12V1H12.5V12H13.5ZM2.35355 12.3536L7.35355 7.35355L6.64645 6.64645L1.64645 11.6464L2.35355 12.3536Z" fill="black" >
            </path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  