<footer class="pb-[23px]">
    <div class="container mx-auto">
        <div class="border-t-[2px] border-black">
        <div class="py-[13px] md:py-0 w-full flex flex-col md:flex-row gap-1 md:gap-[42px]">
            <p class="text-sm font-extrabold leading-[26px] md:pt-[13px] md:pb-3.5" href="#">Softskill.ai</p>
            <p class="text-sm font-normal leading-[26px] md:pt-[13px] md:pb-3.5 md:pr-[37px]">All rights reserved © 2024</p>
            <address class="md:text-end grow text-sm font-normal not-italic leading-[26px] md:pt-[13px] md:pb-3.5">Softskill OU, reg. 16356331 Address: Narva mnt 5, Tallinn, 10117, Estonia</address>
        </div>
        <div class="border-t-[2px] border-b-[2px] border-black border-opacity-45 pt-[13px] pb-3.5">
            <ul class="flex flex-col md:flex-row gap-1 md:gap-[41px] text-sm font-semibold leading-[26px]">
            <a href="#">Terms of use</a>
            <a href="#">Subcontractor offer</a>
            <a href="#">Customer Agreement</a>
            <a href="#">Privacy Policy</a>
            </ul>
        </div>
        </div>
    </div>
</footer>
