<div class="container mx-auto">
  <div class="flex flex-col justify-between mb-10 md:mb-[62px] md:flex-row">
    <h2 class="footer-clamp introbold leading-tight w-full md:max-w-[701px] md:leading-[65px]">Hundreds of professionals are ready to fulfill your tasks</h2>
    <div class="mt-[13px] md:mr-[38px]">
      <p class="w-full leading-[30px] md:max-w-[350px]">
        Invite freelancers from all over the world — with any tax status — to Billinger.
         We check their background. Freelancers can apply for.
        </p>
      <div class="flex mt-5 md:mt-[35px]">
        <a class="text-base font-bold leading-5 flex items-center justify-center px-[23px] h-[48px] rounded-[40px] border-[2px] border-black md:text-lg hover:bg-black hover:text-white transition-colors duration-300" href="#">
          Join as a Company
        </a>
      </div>
    </div>
  </div>
  <div class="border-t-[2px] border-black pt-[13px]">
    <img class="object-cover h-[300px] md:h-[551px] w-full" src="../../media/main-page/footer-banner.webp" srcset="../../media/main-page/footer-banner-hd.webp 2x" alt="promo-picture" />
  </div>
</div>
