<!-- <div class="w-full bg-white p-5 md:p-[30px_35px_32px_36px] border-[2px] border-black flex flex-col"> -->
    <div class="flex w-full items-center pb-[29px] mb-[33px] md:items-start md:h-[95px]">
        <div class="w-[90px] h-[90px] flex-none md:mt-[-50px] md:h-[116px] md:w-[116px]">
          <a class="freelancer-card-decor relative after:w-[91px] md:after:w-[117px] w-full h-full" href="#">
            <img class="w-full h-full object-cover hover:scale-[1.1] transition duration-300 easy-in-out" src="../../media/avatars/avatar-07.webp" alt="photo-man">
          </a>
        </div>
        <div class="ml-4 md:ml-[31px] md:w-[calc(100%_+_35px)]">
          <a class="text-xl md:text-[40px] font-bold introbold md:leading-[38px] line-clamp-2 hover:opacity-70 transition-opacity duration-300" href="#"> 
            Damien P 
          </a>
          <p class="text-[15px] font-normal leading-5 mt-[13px]">JavaScript Developer</p>
        </div>
      </div>
      <div class="grid md:grid-rows-[1fr_186px] md:grid-cols-1 flex-1">
          <div class="grid md:grid-rows-[42px_1fr]">
              <div class="flex flex-wrap md:flex-row text-black pb-[22px] gap-3 md:gap-[26px]">
                  <div class="font-bold leading-5">$40 hour</div>
                  <div w3-include-html="../../utils/stars-block.html"></div>
                  <div class="text-sm leading-5"><span class="font-bold">19</span> jobs</div>
                  <div class="text-sm leading-5"><span class="font-bold">7</span> reviews</div>
                </div>
              <ul w3-include-html="../../utils/tags.html" class="mb-5 md:mb-0 flex flex-wrap text-xs text-white font-montserrat leading-5 gap-3"></ul>
          </div>
          <div class="w-full border-t-[2px] border-black border-opacity-45 pt-[15px] md:pt-[22px] mt-4 md:mt-8">
            <p class="text-sm md:text-[15px] leading-[26px] line-clamp-5">
              Our company is looking for experienced developers who can create an intuitive and effective mobile application for food delivery. The application must have the functions of ordering, payment and
              tracking of delivery, as well as integration with external accounting and inventory systems. Requires experience with mobile platforms such as Android and iOS...
            </p>
          </div>
        </div>
  <!-- </div> -->
  
  