<!-- <div class="w-full bg-white p-5 md:p-[0_35px_27px_31px] border-[2px] border-black"> -->
    <div class="flex w-full mb-[16px] items-start">
        <div class="md:mt-[-20px] flex-none">
            <a class="freelancer-card-decor after:bottom-[-26px] relative after:w-[90px]"
                href="#">
                <img class="w-[90px] h-[90px] hover:scale-[1.1] transition duration-300 easy-in-out" src="../../media/avatars/avatar-08.webp" alt="photo-man">
            </a>
        </div>
        <div class="flex flex-col justify-between w-full md:flex-row">
            <div class="ml-5 md:ml-[30px] gap-y-2.5 flex flex-col md:gap-y-[22px] md:mt-[21px]">
                <a class="text-xl md:text-[32px] font-bold introbold md:leading-[38px] line-clamp-2 hover:opacity-70 transition-opacity duration-300" href="#">
                    Krzysztof L
                </a>
                <div class="flex flex-col gap-y-2.5 md:flex-row md:gap-x-[51px]">
                    <p class="text-[15px] font-normal font-['Manrope'] leading-5">JavaScript Developer</p>
                    <div w3-include-html="../../utils/stars-block.html"></div>
                </div>
            </div>
            <div class="flex flex-wrap md:basis-[305px] text-black md:border-l-[1px] border-black border-opacity-45">
                <div class="flex flex-col pt-2.5 gap-y-2.5 pl-5 md:pt-6 md:pl-[30px] md:gap-y-[31px]">
                    <div class="text-sm font-normal leading-5">12.04.2023</div>
                    <div class="flex flex-col gap-y-2.5 gap-x-5 md:flex-row md:gap-x-[38px]">
                        <div class="text-sm leading-5">
                            <span class="md:text-lg font-extrabold">$1100 </span>offer
                        </div>
                        <div class="text-sm font-normal leading-5 flex items-end gap-x-1.5">
                            <span class="md:text-lg">10.10.2023</span>
                            <p class="md:mb-0.5">deadline</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid md:grid-rows-[100px_1fr] md:grid-cols-1 flex-1">
        <div class="w-full pt-[15px] md:pt-[20px]">
            <p class="text-sm md:text-[15px] leading-[26px] line-clamp-5">
                Our company is looking for experienced developers who can create an intuitive and effective mobile
                application for food delivery. The application must have the functions of ordering, payment and
                tracking of delivery, as well as integration with external accounting and inventory systems. Requires
                experience with mobile platforms such as Android and iOS...
            </p>
        </div>
    </div>
<!-- </div> -->