<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/fonts/fonts.css">
    <link rel="stylesheet" href="../../css/castom.css">
    <title>Document</title>
</head>
<body>
  <div class="mx-5 md:mx-20 pt-20 flex md:gap-x-5"><!--Открывающий тест див-->
    <section class="container">
        <div class="text-white w-full">
          <div class="flex flex-col md:flex-row relative">
            <div class="bg-black flex flex-col w-full max-w-[1120px]">
              <div class="pl-5 pr-5 pb-5 md:pl-[45px] md:pb-[45px]">
                <div class="border-b-[4px] border-white p-[20px_0_20px] mb-5 max-w-[660px] w-full md:p-[35px_0_23px] md:mb-[65px]">
                  <p class="introbold md:text-[22px]">
                    What you’ll get
                  </p>
                </div>
                <div class="max-w-[660px] w-full border-b-[2px] pb-5 border-white border-opacity-60 md:pb-[27px]">
                  <h4 class="text-2xl leading-none introbold pb-[22px] md:pr-0 md:text-[40px]">
                    Lots of tasks
                  </h4>
                  <p class="text-sm leading-8 max-w-[591px] md:text-base md:leading-[30px]">
                    Our project catalog contains a large number of different tasks for specialists of various professions. Quick and easy registration will open for you the global world of realizing your talents.
                  </p>
                </div>
                <div class="max-w-[660px] w-full p-[20px_0_20px] border-b-[2px] border-white border-opacity-60 md:p-[32px_0_27px]">
                  <h4 class="text-2xl leading-none introbold pb-[22px] md:text-[40px]">
                    Zero cost for you
                  </h4>
                  <p class="text-sm leading-8 max-w-[591px] md:text-base md:leading-[30px]">
                    We do not charge freelancers any commissions, your participation in Billinger is completely free, and we take care of your bills and the payment process, leaving you time for self-realization.
                  </p>
                </div>
                <div class="max-w-[660px] w-full p-[20px_0_20px] border-b-[2px] border-white border-opacity-60 md:p-[32px_0_27px]">
                  <h4 class="text-2xl leading-none introbold pb-[22px] md:text-[40px]">
                    Smart & Safety
                  </h4>
                  <p class="text-sm leading-8 max-w-[591px] md:text-base md:leading-[30px]">
                    As long as the task is finished without delay. Billinger guarantees the safety of transactions by offering an escrow account and releasing payment from it once the task is completed.
                  </p>
                </div>
              </div>
            </div>
            <img class="w-full top-[90px] max-h-[495px] aspect-square block md:absolute md:w-[495px] md:h-full md:max-h-[100%] right-0 z-10 object-cover object-[right_center]"
              src="../media/main-page/futures-img.jpg"
              alt="futures-img">
          </div>
        </div>
      </section>
    
  </div> <!-- Закрвающий тест див -->
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>