<header class="pt-[65px] md:pt-0">
  <div class="fixed bg-white bg-opacity-90 z-[20] top-0 left-0 md:top-auto md:left-auto md:relative w-full">
    <div class="container mx-auto z-[5]">
      <div class="h-[65px] border-b-[1px] border-black flex items-center">
        <div class="grid grid-cols-[1fr_auto_auto] md:grid-cols-[1fr_1fr_1fr] place-content-between w-full gap-x-10 md:gap-x-0 items-center">
          <div class="flex items-center">
            <a href="#">
              <img src="../../media/icons/logo.svg" alt="NONAME" />
            </a>
          </div>
          <nav class="hidden md:block mx-auto pr-5">
            <ul class="flex gap-[32px] place-self-center text-[15px] leading-none pr-[41px]">
              <li>
                <a class="hover:opacity-70" href="#">Company's</a>
              </li>
              <li>
                <a class="hover:opacity-70" href="#">Freelancers</a>
              </li>
              <li>
                <a class="hover:opacity-70" href="#">Work</a>
              </li>
            </ul>
          </nav>
          <div class="flex md:place-self-end">
            <div class="hidden md:flex md:mr-[123px] gap-x-[25px] text-[15px]">
              <a class="arrow-dec hover:opacity-[0.7] leading-[19px]" href="#">
                en
              </a>
            </div>
            <div class="flex text-[15px] md:gap-[75px] place-self-end">
              <a class="arrow-dec font-bold hover:text-opacity-50 leading-[19px]" href="#">
                Sign up
              </a>
              <a class="hidden md:flex hover:opacity-70 leading-[19px]" href="#">
                Sign in
                </a>
            </div>
          </div>
          <div class="flex flex-col md:hidden gap-y-1 place-self-end pr-2.5">
            <div class="border-black border-[2px] w-[30px] rounded-[30px]"></div>
            <div class="border-black border-[2px] w-[30px] rounded-[30px]"></div>
            <div class="border-black border-[2px] w-[30px] rounded-[30px]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
