<div class="container mx-auto">
  <div class="flex flex-col justify-between mb-10 md:mb-[71px] md:flex-row">
    <h1 class="title-clamp introbold leading-tight w-full md:max-w-[701px] md:leading-[70px]">
      Access to thousands of tasks around the world
    </h1>
    <div class="mt-[13px] md:mr-[38px]">
      <p class="w-full leading-[30px] md:max-w-[350px]">
        Invite freelancers from all over the world — with any tax status — to
        Billinger. We check their background. Freelancers can apply for a free
        consultation on all tax issues
      </p>
      <div class="flex mt-5 md:mt-[35px]">
        <a class="text-base font-bold leading-5 flex items-center justify-center px-[23px] h-[48px] rounded-[40px] border-[2px] border-black md:text-lg hover:bg-black hover:text-white transition-colors duration-300"
          href="#">
          Join as a Freelancer
        </a>
      </div>
    </div>
  </div>
  <div class="border-t-[2px] border-black pt-[13px]">
    <img class="object-cover object-center h-[300px] md:h-[551px] w-full" src="../../media/main-page/header-banner.webp" srcset="../../media/main-page/header-banner-hd.webp 2x" alt="promo-picture"  />
  </div>
</div>
