<div class="container mx-auto z-[5]">
  <div class="relative">
    <div class="bg-main-showcase bg-cover mb-5 w-full min-h-[172px] p-5 md:p-[44px_44px_0_45px] md:min-h-[471px] md:mb-0">
      <div class="border-t-[4px] border-white pt-5 md:pt-[36px]">
        <h3 class="max-w-[804px] text-3xl introbold text-white md:text-[50px] md:leading-[56px]">Find and join work tasks that match your skills right now</h3>
      </div>
    </div>
    <div class="w-full flex flex-col gap-4 md:max-w-[1230px] md:absolute bottom-[-268px] left-[47px] md:flex-row">
      <div w3-include-html="../../components/task-card.html" class="w-full bg-white p-5 md:p-[27px_35px_31px_34px] border-[2px] border-black flex flex-col"></div>
      <div w3-include-html="../../components/task-card.html" class="w-full bg-white p-5 md:p-[27px_35px_31px_34px] border-[2px] border-black flex flex-col"></div>
    </div>
  </div>
</div>

