<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/fonts/fonts.css">
    <link rel="stylesheet" href="../css/castom.css">
    <title>noname</title>
</head>

<body class="max-w-[1440px]">
    <div class="container mx-auto z-[5]">
        <div class="relative">
            <div class="bg-[url(../../media/main-page/task-showcase.jpg)] bg-cover bg-[center_center] mb-5 w-full min-h-[172px] p-5 md:p-[45px_44px_0_45px] md:min-h-[471px] md:mb-0">
                <div class="border-t-[4px] border-white pt-5 md:pt-[36px]">
                    <h3 class="max-w-[804px] text-3xl introbold text-white md:text-[50px] md:leading-[56px]">
                        Find and join work tasks that
                        match your skills right now
                    </h3>
                </div>
            </div>
            <div class="w-full flex flex-col  gap-4 md:max-w-[1230px] md:absolute bottom-[-270px] left-[47px] md:flex-row">
                <div class="w-full bg-white p-5 md:p-[27px_35px_31px_34px] border-[2px] border-black">
                    <div class="flex w-full items-start md:h-[95px] pb-[29px] mb-[37px]">
                        <a class="card-title-decor relative" href="#">
                          <span class="text-xl md:text-3xl text-[#141133] font-bold introbold md:leading-[38px] tracking-[-0.3px] line-clamp-2">
                            Share Extension Development for iOS and Android
                          </span>
                        </a>
                    </div>
                  <div class="grid md:grid-rows-[97px_1fr] md:grid-cols-1 flex-1">
                    <div class="w-full border-b-[2px] border-black border-opacity-45">
                        <ul class="flex flex-wrap md:flex-row text-black pb-[19px] gap-3 md:gap-[28px]">
                          <li class="text-sm font-normal leading-5">12.04.2023</li>
                          <li class="text-sm font-extrabold leading-5">$1200</li>
                          <li class="text-sm font-normal leading-5">12.10.2023 deadline</li>
                        </ul>
                        <ul class="flex flex-wrap text-xs text-white font-montserrat leading-5 gap-3 pb-3.5 md:pb-6">
                          <li>
                            <a class="flex justify-center items-center h-[28px] border bg-[#BFBFBF] rounded-[40px] px-2.5 hover:opacity-70" href="#"> Java Script </a>
                          </li>
                          <li>
                            <a class="flex justify-center items-center h-[28px] border bg-[#BFBFBF] rounded-[40px] px-2.5 hover:opacity-70" href="#"> GraphQL </a>
                          </li>
                          <li>
                            <a class="flex justify-center items-center h-[28px] border bg-[#BFBFBF] rounded-[40px] px-2.5 hover:opacity-70" href="#"> Coding </a>
                          </li>
                          <li>
                            <a class="flex justify-center items-center h-[28px] border bg-[#BFBFBF] rounded-[40px] px-2.5 hover:opacity-70" href="#"> Programming </a>
                          </li>
                        </ul>
                    </div>
                    <p class="text-sm md:text-[15px] mt-[15px] md:mt-[22px] leading-[26px] line-clamp-5 tracking-[-0.48px]">
                      Our company is looking for experienced developers who can create an intuitive and effective mobile application for food delivery. The application must have the functions of ordering, payment and tracking of delivery, as
                      well as integration with external accounting and inventory systems. Requires experience with mobile platforms such as Android and iOS...
                    </p>
                  </div>
                </div>
                <div class="w-full bg-white p-5 md:p-[27px_35px_31px_34px] border-[2px] border-black">
                    <div class="flex w-full items-start md:h-[95px] pb-[29px] mb-[37px]">
                        <a class="card-title-decor relative" href="#">
                          <span class="text-xl md:text-3xl text-[#141133] font-bold introbold md:leading-[38px] tracking-[-0.3px] line-clamp-2">
                            Share Extension Development for iOS and Android
                          </span>
                        </a>
                    </div>
                  <div class="grid md:grid-rows-[97px_1fr] md:grid-cols-1 flex-1">
                    <div class="w-full border-b-[2px] border-black border-opacity-45">
                        <ul class="flex flex-wrap md:flex-row text-black pb-[19px] gap-3 md:gap-[28px]">
                          <li class="text-sm font-normal leading-5">12.04.2023</li>
                          <li class="text-sm font-extrabold leading-5">$1200</li>
                          <li class="text-sm font-normal leading-5">12.10.2023 deadline</li>
                        </ul>
                        <ul class="flex flex-wrap text-xs text-white font-montserrat leading-5 gap-3 pb-3.5 md:pb-6">
                          <li>
                            <a class="flex justify-center items-center h-[28px] border bg-[#BFBFBF] rounded-[40px] px-2.5 hover:opacity-70" href="#"> Java Script </a>
                          </li>
                          <li>
                            <a class="flex justify-center items-center h-[28px] border bg-[#BFBFBF] rounded-[40px] px-2.5 hover:opacity-70" href="#"> GraphQL </a>
                          </li>
                          <li>
                            <a class="flex justify-center items-center h-[28px] border bg-[#BFBFBF] rounded-[40px] px-2.5 hover:opacity-70" href="#"> Coding </a>
                          </li>
                          <li>
                            <a class="flex justify-center items-center h-[28px] border bg-[#BFBFBF] rounded-[40px] px-2.5 hover:opacity-70" href="#"> Programming </a>
                          </li>
                        </ul>
                    </div>
                    <p class="text-sm md:text-[15px] mt-[15px] md:mt-[22px] leading-[26px] line-clamp-5 tracking-[-0.48px]">
                      Our company is looking for experienced developers who can create an intuitive and effective mobile application for food delivery. The application must have the functions of ordering, payment and tracking of delivery, as
                      well as integration with external accounting and inventory systems. Requires experience with mobile platforms such as Android and iOS...
                    </p>
                  </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>